@charset "utf-8";

body {
	width: 100%;
	height: 100%;
	color: #E4E4E4;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}
* {
	margin: 0;
	padding: 0;
	outline: none;
	z-index: 0;
}
img {
	outline: none;
	border: 0;
}
div {
	outline: none;
	border: 0;
	/*border-radius: 10px 0 10px 10px;边角弧度*/
}
ul li{list-style: none}


@-webkit-keyframes shine {
	from {
		background-position: 0px;
	}
	to {
		background-position: 600px;
	}
}
@-moz-keyframes shine {
	from {
		background-position: 0px;
	}
	to {
		background-position: 600px;
	}
}
@keyframes shine {
  from {
    background-position: 0px;
  }
  to {
    background-position: 600px;
  }
}

.goldContent {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  position: absolute;
  top: 0;
  background: url("../images/tx.jpg")
}
.goldContent .goldEggsDiv {
  width: 1920px;
  height: 1080px;
  position: relative;
}
.egg0 {
  position: absolute;
  top: 453px;
  left: 463px;
}
.egg1 {
  position: absolute;
  top: 462px;
  left: 803px;
}
.egg2 {
  position: absolute;
  top: 462px;
  left: 1124px;
}

.goldContent .goldEggsDiv .list_EggsDiv div ul.jinDanUl1 {
  left: 100%;
}

.list_EggsDiv div ul li img {
  width: 345px;
  height: 274px;
 vertical-align: middle;
}
.startBtn{
  width: 345px;
  height: 274px;
}
.list_EggsDiv button{
  margin-top: 10px;
  outline: 0
}
.kuang{position: absolute; top: 0; left: 16px; display: none}
.kuang img{height: 220px !important; width: 180px}
/* line 149, ../sass/model/_indexStyle.scss */
.goldContent .list_Content {
  width: 100%;
  height: auto;
  background: #CC1A1A;
  width: 90%;
  padding-bottom: 3%;
  margin: 0 auto;
  margin-top: 10px;
}
/* line 158, ../sass/model/_indexStyle.scss */
body .goldContent .list_Content .titleDiv {
	width: 100%;
	height: auto;
	display: block;
	position: relative;
	height: 40px;
	overflow: hidden;
}
body .goldContent .list_Content.rulesActivity {
	position: relative;
}


/* line 4, ../sass/model/_alert.scss */
.bg-mask {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	z-index: 99;
}
.chouJiang .imgDan {
	position: absolute;
	top: 54%;
	left: 50%;
	width: 38%;
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 10001;
	width: 215px;
}
.chouJiang .caiDai {
	position: absolute;
	top: 2%;
	left: 19%;
	width: 172px;
	z-index: 10001;
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.chouJiang .chouJiangTishi {
	position: absolute;
	bottom: 7%;
	width: 100%;
	text-align: center;
	font-family: "Microsoft YaHei";
	font-size: 16px;
	background-image: -webkit-linear-gradient(#F9DBA1 50%, #D0AB71 100%);
	background: -o-linear-gradient(#F9DBA1 50%, #D0AB71 100%);
	background: -moz-linear-gradient(#F9DBA1 50%, #D0AB71 100%);
	background: linear-gradient(#f9dba1 50%, #d0ab71 100%);
	-webkit-background-clip: text;
	font-weight: bold;
	-webkit-text-fill-color: transparent;
}
.chouJiang .imgChuiZi {
	position: absolute;
	top: 16px;
	right: 100px;
	width: 25%;
	z-index: 10002;
	-moz-transform-origin: bottom right;
	-webkit-transform-origin: bottom right;
	transform-origin: bottom 100%;
	-moz-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
	transform: rotate(15deg);
	-moz-animation: chuizi 1.5s ease 3;
	-webkit-animation: chuizi 1.5s ease 3;
	animation: chuizi 1.5s ease 3;
}

@keyframes chuizi {
	0% {
		-moz-transform: rotate(15deg);
		-ms-transform: rotate(15deg);
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg);
	}
	30% {
		-moz-transform: rotate(-25deg);
		-ms-transform: rotate(-25deg);
		-webkit-transform: rotate(-25deg);
		transform: rotate(-25deg);
	}
	100% {
		-moz-transform: rotate(15deg);
		-ms-transform: rotate(15deg);
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg);
	}
}

@-webkit-keyframes chuizi {
	0% {
		-moz-transform: rotate(15deg);
		-ms-transform: rotate(15deg);
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg);
	}
	30% {
		-moz-transform: rotate(-25deg);
		-ms-transform: rotate(-25deg);
		-webkit-transform: rotate(-25deg);
		transform: rotate(-25deg);
	}
	100% {
		-moz-transform: rotate(15deg);
		-ms-transform: rotate(15deg);
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg);
	}
}

@-moz-keyframes chuizi {
	0% {
		-moz-transform: rotate(15deg);
		-ms-transform: rotate(15deg);
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg);
	}
	30% {
		-moz-transform: rotate(-25deg);
		-ms-transform: rotate(-25deg);
		-webkit-transform: rotate(-25deg);
		transform: rotate(-25deg);
	}
	100% {
		-moz-transform: rotate(15deg);
		-ms-transform: rotate(15deg);
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg);
	}
}
.jiangPinResult {
	position: fixed;
	right: 50%;
	top: 50%;
	background-image: url("../images/window-bg.png");
	width: 600px;
	height: 428px;
	margin: -214px -300px 0 0;
	padding-top: 30px;
	box-sizing: border-box;
	z-index: 9999
}
.jiangPinResult.active {
	top: 50%;
	visibility: visible;
	width: 360px;
	height: 300px;
}
.jiangPinResult .gongxi {
	top: -30%;
	height: 200px;
	position: absolute;
	left: 52%;
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.jiangPinResult .imgJiangPin {
	top: 19%;
	position: absolute;
	width: 270px;
	left: 52%;
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.jiangPinResult p {
	text-align: center;
	color: #fff;
	margin-top: 6px;
	letter-spacing: 3px;
	line-height: 30px;
	padding: 0 10px;
}
.jiangPinResult .btn_Get {
	margin-top: 50px;
	text-align: center;
	width: 100%;
	position: relative;
}
#submitborder,#receive,#confirmborder,#subborder,#phoneborder {
	position: absolute;
	top: -16px;
	left: 43px;
	display: none;
}
#bevipborder,#changeborder {
	position: absolute;
	top: -16px;
	left: 323px;
	display: none
}
.btn_Get .submit img {
	vertical-align: middle
}
.jiangPinResult .colseJiangPin {
	width: 28px;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}
#my_prize,#user_login{
  width: 118px;
  height:60px;
  line-height: 60px
}
/*#i_konw,#back{width:196px; height: 90px; margin: 0 auto; line-height: 90px}*/
#back{width:196px; height: 90px; margin: 0 auto; line-height: 90px}
#header img,#i_konw img,#back img{vertical-align: middle;}
#chance{position: absolute;
        top:95px;
        left:970px;
        color:#b14014;
        font-size: 22px;
        letter-spacing:2px;
        font-weight: bold;
        display: none
}
#chance #chanceCount{
  color:#5a1e6d;
  padding:0 5px;
}

#jinDanUl1 .btnFocus{
    background-image: url(../images/cs.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#chance .btnFocus{
    border-bottom: solid 1px #ffff59;
}


.btn_Get .btnFocus{
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: 100%;

}
.btn_Get .submit{
    width: 245px;
    height: 116px;
    line-height: 116px;
    display: inline-block;
}



.testspan1,.testspan2,.testspan3{
    margin-right: 1%;
    display: inline-block;
    width: 30%;
    height: 55px;
    line-height: 55px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
}

.jiangPinResult .colseJiangPin {
	width: 28px;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}
.font26 {
	font-size: 26px;
}
.font24 {
	font-size: 24px;
}
.font20 {
	font-size: 20px;
}
#header {
	position: absolute;
	top: -3px;
	right: 0px;
	color: #ffd753;
	font-size: 22px;
	letter-spacing: 2px;
	font-weight: bold;
	height: 66px;
	line-height: 66px;
}
#header span {
	display: inline-block;
	margin: 0 10px;
	text-align: center;
}
#header ul {
	display: inline-block;
	float: left
}
.header_prize .btnFocus,
.header_user .btnFocus {
	background-image: url(../images/a123.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
#my_prize,
#user_login {
	width: 118px;
	height: 60px;
	line-height: 60px
}
#back {
	width: 196px;
	height: 90px;
	margin: 0 auto;
	line-height: 90px
}
#header img,
#i_konw img,
#back img {
	vertical-align: middle;
}
#chance {
	position: absolute;
	top: 95px;
	left: 970px;
	color: #b14014;
	font-size: 22px;
	letter-spacing: 2px;
	font-weight: bold;
	display: none
}
#chance #chanceCount {
	color: #5a1e6d;
	padding: 0 5px;
}
#phoneInput {
	z-index: 1234;
	width: 392px;
	height: 68px;
	border: 0px;
	background: white;
	border-radius: 25px;
	padding-left: 20px;
	color: #333333;
	font-size: 40px;
	letter-spacing: 5px;
	outline: 0
}
#box-input-value {
	background: white;
	border: 1px solid #f1c370;
	border-radius: 20px;
	margin: 9px 6.5px;
	height: 55px;
	line-height: 55px;
	width: 412px;
	text-align: center;
	font-size: 40px;
	position: absolute;
	top: 64px;
	left: 82px;
}
#errorInfo {
	position: absolute;
	top: 112px;
	width: 160px;
	height: 68px;
	line-height: 68px;
	right: 83px;
	font-size: 24px;
	color: white;
	display: none;
}
.box-key {
	width: 453px;
	position: absolute;
	top: 150px;
	left: 70px;
}
.numbtn {
	width: 128px;
	height: 65px;
	line-height: 65px;
	display: inline-block;
	text-align: center;
	background: url(../images/aaa.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 1px 10px;
	font-size: 24px;
}
#changePhone .btnFocus,
.get_btn .btnFocus {
	background-image: url(../images/a123.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
#jinDanUl1 .btnFocus {
	background-image: url(../images/cs.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
#chance .btnFocus {
	border-bottom: solid 1px #ffff59;
}
.btn_Get .btnFocus {
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.btn_Get .submit {
	width: 245px;
	height: 116px;
	line-height: 116px;
	display: inline-block;
}
.startBtn {
	height: 288px;
	width: 362px;

}
.testspan1,
.testspan3 {
	margin-right: 1%;
	display: inline-block;
	width: 30%;
	height: 55px;
	line-height: 55px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 16px;
}
#awardul{
  position: relative;
    width: 100%;
    margin-left: 3%;
}
#awardul li{
  height: 40px;
  line-height: 40px
}

#awardList{
    position: absolute;
    left: 30px;
    top: 320px;
    width: 270px;
    height: 220px;
    font-size: 24px;
    word-spacing: 30px;
    overflow: hidden;   
    color: white;
/*    background-color: rgba(255, 255, 255, 0.5);*/
    z-index: 9;
}
#awardListTwo{
  position: absolute;
    top: 0px;
    width: 270px;
    height: 220px;
    overflow: hidden;
}
.box_style {
    width: 800px;
    height: 188px;
    overflow: hidden;
    float: left;
    margin-bottom: 20px;
}

 .clearfix{ overflow:hidden; clear:both; width:0;  }
#prize{color:#fff;}
#prize .title{ font-size: 36px; font-weight: bold; height:80px; line-height: 80px; padding-left: 30px; letter-spacing: 2px; background: url(../images/line.png) left bottom no-repeat;}


.prize_list ul img{vertical-align: middle;}

#prize_null{text-align: center; font-size: 26px; margin-top: 200px; letter-spacing: 2px}
#prize_null .btnFocus,.prize_list .btnFocus{
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: 100%;

}
#prize_box{width: 800px; margin: 0 auto; margin-top: 30px}
#prize_box li{    width: 285px;
    float: left;
    position: relative;
    margin-bottom: 30px;}
#prize_box li .prize_state,#prize_box li .testspan2{ bottom:-106px; left: 0px;width: 166px;
    height: 88px;
    line-height: 78px;
    text-align: center;}
#prize_box .prize_img{background: #fff; text-align: center; padding: 20px 0 }
#prize_box li:nth-child(odd){ margin-right: 30px;}
.prize_name{font-size: 26px; height: 40px; line-height: 40px; margin-top: 20px}
.prize_time{    font-size: 16px;
    margin-top: 5px;
    line-height: 23px;}


#jinDanUl1 .btnFocus img{
  animation:grow 0.7s 0.4s 1 ease, music-move 1s 0.1s infinite alternate ease-in-out;
  -webkit-animation:grow 0.7s 0.4s 1 ease, music-move 1s 0.1s infinite alternate ease-in-out;
/*
  animation:grow 0.7s 0.4s 1 ease;
  -webkit-animation:grow 0.7s 0.4s 1 ease;
*/
  transform-origin: bottom;
  -webkit-transform-origin: bottom;
}

@-webkit-keyframes music-move /* Safari and Chrome */
{
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	33% {
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}
	66% {
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}
#qrcode {
	display: inline-block;
	margin: 0 auto
}
#rule {
	position: absolute;
	bottom: 200px;
	width: 200px;
	right: 50px;
	color: #fff;
}
#chanceCount {
	color: #ff7030;
	padding: 0 3px;
}
.rule-text {
	line-height: 26px;
}
.rule-text span {
	color: #e4d44b;
}


#qrcode{display: inline-block; margin: 0 auto}

#rule{    position: absolute;
  bottom: 291px;
  width: 289px;
  right: 60px;
  color: #8b5549;
}
#chanceCount{color:#ff2558; padding:0 3px;margin-left: 132px;  font-size: 30px;}
.rule-text{line-height:26px;    margin-top: 66px; font-size: 26px}
.rule-text span{color:#e4d44b;}
/*#demo{position: absolute; bottom: 38px; width: 760px;  left: 330px}*/
#demo {
	overflow: hidden;
	position: absolute;
	bottom: 45px;
	width: 640px;
	left: 340px
}
#indemo {
	width: 800%;
}
#indemo,#demo1,#demo2{
	float: left;
}
.prize-info {
	width: 140px;
	margin-right: 20px;
	float: left;
}
.prize-info> div {
	width: 140px;
	height: 110px;
	line-height: 110px;
	background: #fff;
	border-radius: 15px;
	text-align: center;
}
.prize-info> div img {
	vertical-align: middle;
}
.prize-info> p {
	text-align: center;
	color: #b9450a;
	height: 35px;
	line-height: 35px
}
.rule-text a {
	color: #e4d54b;
	text-decoration: underline;
}
.rule-text .btnFocus {
	color: #00fcff;
}
#rule_box .font26 {
	font-size: 18px;
	line-height: 23px;
	text-align: left !important;
	padding: 0px 20px;
}